if SHIELD_MOCHA_LEFT

config ZMK_KEYBOARD_NAME
    default "Mocha"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MOCHA_LEFT || SHIELD_MOCHA_RIGHT

config ZMK_SPLIT
    default y

endif
